.logo a{
	color: #fff;
}

.page-header .leftside-header .logo{
	padding-left: 15px;
}

form h2{
	font-size: 18px;
}

.hide{
	display: none;
}

hr{
	border: 2px solid #c1b7b7;
}

.total-statement{
	font-size: 14px;
}

.total-statement thead th{
	font-weight: bold;
}

table.view tbody td:nth-child(1){
	text-align: right;
    font-weight: bold;
    width: 40%;
}

img{
	max-width: 100%;
}